<form (ngSubmit)="registrar()">
  <input
    matInput
    type="text"
    placeholder="Nombre"
    [formControl]="nombreControl"
    [errorStateMatcher]="matcher"
  />
  <mat-error *ngIf="nombreControl.hasError('required')">
    Nombre is <strong>required</strong>
  </mat-error>
  <input
    matInput
    type="text"
    placeholder="Marca"
    [formControl]="marcaControl"
    [errorStateMatcher]="matcher"
  />
  <mat-error *ngIf="marcaControl.hasError('required')">
    Marca is <strong>required</strong>
  </mat-error>

  <input
    matInput
    type="text"
    [formControl]="stockControl"
    placeholder="Stock"
    [errorStateMatcher]="matcher"
  />
  <mat-error *ngIf="stockControl.hasError('required')">
    Stock is <strong>required</strong>
  </mat-error>

  <input
    matInput
    type="text"
    placeholder="Tipo"
    [formControl]="tipoControl"
    [errorStateMatcher]="matcher"
  />
  <mat-error *ngIf="tipoControl.hasError('required')">
    Tipo is <strong>required</strong>
  </mat-error>

  <input
    matInput
    type="text"
    placeholder="Local"
    [formControl]="localControl"
    [errorStateMatcher]="matcher"
  />
  <mat-error *ngIf="localControl.hasError('required')">
    Local is <strong>required</strong>
  </mat-error>
  <input
    matInput
    type="text"
    placeholder="Precio"
    [formControl]="precioControl"
    [errorStateMatcher]="matcher"
  />
  <mat-error *ngIf="precioControl.hasError('required')">
    Precio is <strong>required</strong>
  </mat-error>

  <button mat-raised-button color="primary" type="submit" style="width: 100%;">
    Registrar Producto
  </button>
</form>
