<form (ngSubmit)="Login()">
  <input
    matInput
    type="email"
    placeholder="Email"
    [formControl]="emailFormControl"
  />
  <mat-error
    *ngIf="
      emailFormControl.hasError('email') &&
      !emailFormControl.hasError('required')
    "
  >
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="emailFormControl.hasError('required')">
    Email is <strong>required</strong>
  </mat-error>
  <input
    matInput
    type="password"
    placeholder="Password"
    [formControl]="passwordFormControl"
  />
  <mat-error
    *ngIf="
      passwordFormControl.hasError('minLength') &&
      !passwordFormControl.hasError('required')
    "
  >
    Please enter a password longer or 6 characters
  </mat-error>
  <mat-error *ngIf="passwordFormControl.hasError('required')">
    Password is <strong>required</strong>
  </mat-error>

  <button mat-raised-button color="primary" type="submit" style="width: 100%;">
    Iniciar Sesion
  </button>
</form>
