<form>
  <input
    matInput
    type="text"
    placeholder="Nombre"
    [errorStateMatcher]="matcher"
    [formControl]="nombre"
  />
  <mat-error *ngIf="nombre.hasError('required')">
    Nombre is <strong>required</strong>
  </mat-error>

  <input
    matInput
    type="email"
    placeholder="Email"
    [errorStateMatcher]="matcher"
    [formControl]="email"
  />
  <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="email.hasError('required')">
    Email is <strong>required</strong>
  </mat-error>

  <input
    matInput
    type="text"
    placeholder="Telefono"
    [errorStateMatcher]="matcher"
    [formControl]="telefono"
  />
  <mat-error *ngIf="telefono.hasError('required')">
    Telefono is <strong>required</strong>
  </mat-error>

  <input
    matInput
    type="text"
    placeholder="Localidad"
    [errorStateMatcher]="matcher"
    [formControl]="localidad"
  />
  <mat-error *ngIf="localidad.hasError('required')">
    Localidad is <strong>required</strong>
  </mat-error>

  <button mat-raised-button color="primary" type="submit" style="width: 100%;">
    Registrar Local
  </button>
</form>
