<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div *ngIf="user != null">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/registrar/local">Registrar Locales</a>
      <a mat-button routerLink="/registrar/producto">Registrar Producto</a>
      <span>{{ user }}</span>
      <button mat-button (click)="logOut()">Cerrar Sesion</button>
    </div>
    <div *ngIf="!user">
      <a mat-button routerLink="/register">Registrar</a>
      <a mat-button routerLink="/login">Iniciar Sesion</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
